/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: sans-serif;
  }
  
  
/* utilities */


  
/* content */

#informazioni{
  background-color: lightseagreen;
  width: 60vw;
  height: 10vh;
  padding: 22px;
  margin: 20px;
}